.bookwindow {
  width: 90vw;
}

.bookflex {
  display: flex;
  overflow-x: scroll;
}

.booksmall {
  margin: 10px;
}

.bookgrid {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 20px;
}

.bookgrid img {
  max-height: 80vh;
  width: 80%;
  margin: auto;
}