.bookwindow {
  width: 100%;
  margin-top: 10px;
}

.bookflex {
  display: flex;
  overflow-x: scroll;
}

.booksmall {
  margin: 10px;
}

.bookgrid {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 20px;
}

.bookgrid img {
  max-height: 80vh;
  width: 80%;
  margin: auto;
}
.bookTitle {
  width: 100%;
  background-color: var(--medium);
  color: white;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 10px;
}

.bold {
  font-weight: 700;
}