.deckListing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.noDeckAnnouncement {
    width: 100%;
    text-align: center;
    color:rgb(75, 75, 75);
    font-weight: 500;
}

.deleteButton {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--accent);
    border-radius: 50%;
    font-size: 12px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteButton:hover {
    cursor: pointer;
}

.bookDisplay {
    position: relative;
    width: 170px;
    height: auto;
    background-color: var(--medium);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookCover {
    width: 150px;
    height:auto;
    border: solid 0.2em white;
    margin-bottom: 10px;
}

.deckNumber {
  font-size:0.8em;
  color:rgb(75, 75, 75);
}

.flashCardWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
.flashCardButton {
    cursor: pointer;
    background-color: var(--medium);
    border-radius: 10px;
    border: 0;
    color: white;
    padding: 0.5em 1em;
}
.flashCardButton:disabled {
    cursor: not-allowed;
    background-color: #5f928d;
    color: rgb(206, 206, 206);
}
.flashCardBody {
    height: 50vh;
    width:60vw;
    border: solid 3px var(--light);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flashcardAnswer {
    font-size: 0.8em;
    font-weight: 700;
    color: rgb(75, 75, 75);
    margin-bottom: 10px;
}

.flashcardContent {
    font-size: 1.5 em;
    margin: 10px;
    width: 80%;
    text-overflow: ellipsis;
    color: var(--primary);
}

.deckCreator {
    text-align: center;
}