.flash-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.flip-container {
  position: relative;
  height: 110%;
  margin: 20px 30px 20px 10px;
  display: block;
  perspective: 1000px;
}

.flashcard {
  cursor: pointer;
  min-width: 400px;
  width: 100%;
  min-height: 200px;
}
.flip-container .card-container {
  position: relative;
  transform-style: preserve-3d;
  min-height: 200px;
  width: 100%;
}

.flashcard .card-container {
  height: 100%;
  min-height: 200px;
}
.flip-container .card-container.flipped .front {
  transform: rotateY(180deg);
}
.flip-container .card-container.flipped .back {
  transform: rotateY(0deg);
}
.flip-container .card-container .front,
.flip-container .card-container .back {
  height: 100%;
  min-height: 200px;
  align-content: center;
  width: 100%;
  display: block;
  border: 3px solid var(--light);
  box-shadow: 10px 10px 5px var(--accent);
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
}

.front a, .back a {
  cursor: pointer;
}

.flip-container .card-container .front {
  z-index: 2;
  transform: rotateY(0deg);
  height: fit-content;
  /* front tile styles go here! */
}
.flip-container .card-container .back {
  transform: rotateY(-180deg);
  padding: 20px;
  font-size: 20px;
  height: fit-content;
  /* back tile styles go here! */
}
