@import './form.css';
@import './navigation.css';
@import './search.css';
@import './flashcard.css';
@import './loader.css';

:root {
  --primary: rgba(0, 194, 203);
  --primary-transparent: rgba(0, 194, 203, 0.3);
  --secondary: rgba(255, 222, 89);
  --secondary-transparent: rgba(255, 222, 89, 0.3);
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: sans-serif;
  color: rgb(40, 40, 40);
}

.header {
  text-decoration: underline var(--secondary) 5px;
}

/* not BEM */
button {
  border: none;
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 10px 20px;
  color: rgba(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 5px 5px;
  font-size: 1rem;
  font-weight: 700;
}

/* not BEM */
button:hover {
  background-color: var(--secondary-transparent);
}

/* not BEM */
button:disabled {
  background-color: gray;
}

/* not BEM */
.round-button {
  border: none;
  background-color: var(--secondary);
  border-radius: 50%;
  padding: 5px 5px;
  width: 25px;
  height: 25px;
  color: rgba(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 7px 7px;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* not BEM */
.round-button:hover {
  background-color: var(--secondary-transparent);
}

/* not BEM */
.round-button:disabled {
  background-color: gray;
}

/* not BEM */
::-webkit-scrollbar {
  scrollbar-width: 3px;
  width: 3px;
}

/* not BEM */
::-webkit-scrollbar-track {
  background: transparent;
  width: 3px;
}

/* not BEM */
::-webkit-scrollbar-thumb {
  background: var(--secondary-transparent);
  border-radius: 5px;
  width: 3px;
}

.small-book {
  margin: 10px 10px;
}

.scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: visible;
  overflow-y: hidden;
  margin: 10px 10px;
  text-align: center;
  background-color: rgba(235,235,235, 0.5);
  border-radius: 10px;
  max-height: 300px;
  min-height: 0px;
  max-width: 90vw;
  margin: 10px auto;
}

.label {
  text-decoration: underline var(--secondary) 2px;
  font-weight: 700;
  margin: 4px 10px;
}

/* not BEM */
.bold-text {
  font-weight: 700;
  margin: 4px 10px;
}

/* not BEM */
.center-text {
  text-align: center;
}

/* not BEM */
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* not BEM */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* not BEM */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.page-container {
  padding-top: 10vh;
  height: 90vh;
  margin: 10px 20px;
}

.clickable {
  cursor: pointer;
}

.landing-page-container {
  position: absolute;
  top:  45%;
  left: 50%;
  transform: translate(-50%,-50%);
}
