.nav {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 10px;
}

.nav h3 {
  padding-left: 10px;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.nav li {
  list-style-type: none;
  padding: 5px 10px;
}

.nav a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}