.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0 3vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 10vh;
  text-align: center;
}

.navigation-bar__list-item {
  width: 20vw;
}

/* not BEM because Link tag doesn't accept className */
.navigation-bar li a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.navigation-bar li a:hover {
  text-decoration: underline var(--secondary) 5px;
}